@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100..800&family=Syne:wght@400..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{

    font-family: "Lato", sans-serif;
}

a.active{
    background-color: #f39c12 !important;
    color: white !important;
    font-weight: 700;
   
  }


  .backgroundImgOne{
    background-image: url('https://i.ibb.co.com/MnHdFJ4/3333333nsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat,
  }
  .backgroundImgTwo{
    background-image: url('https://i.ibb.co.com/D5qZZTV/2222222222222222222229-AI0-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat,
  }
  .backgroundImgThree{
    background-image: url('https://i.ibb.co.com/0j5p0GR/1111111111111111plash.jpg');
    background-size: cover;
    background-repeat: no-repeat,
  }